@{
    ViewBag.Title = "Trang Admin";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Truong Đình Tuyển</p>
    <br/>
    <p>loc4571@gmal.com</p>
</main>